<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to AisleInventory%></h1>
    <p>
      You have successfully signed up to receive email notifications about account activity,
      your store code is:  orangestarfish3vk
      your access code is: 5340620431 <br>
    </p>
    <p>Thanks for joining us. Have a great day!</p>
  </body>
</html>