<% render 'errors' %>
<div class= "whiteboard">
<center><h2>Occasions</h2></center>
    <center><%= form_with model: @occasion do |f| %>
    <p>Check your information!<br></p>
    <%= f.text_field [:occasion][][:name_of]%>
    <%= f.submit "OK"%>
 <%end%>
 </center>
</div>