
<div class= "whiteboard">
<center><h2>Enter Store Code</h2></center>
    <center><%= form_with model: @manufacturer do |f| %>
    <p>Enter Manufacture Name<br></p>
    <%= f.text_field :name%>
    <%= f.submit "Done"%>
 <%end%>
 </center>
</div>